<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaksi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container mt-5">
        <table class="table table-bordered border-primary">
            <tr class="table-primary">
              <th style="width: 200px">Id barang</th>
              <th style="width: 200px">Nama barang</th>
              <th style="width: 200px">jumlah</th>
              <th style="width: 200px">total harga</th>
              <th style="width: 50px" style="text-align: center" colspan="2">
                payment
              </th>
            </tr>
            <% for(let barang of data2) { %>
            <tr>
              <td><%= barang.id_transaksi %></td>
              <td style="width: 200px"><%= barang.Nama_barang%></td>
              <td><%= barang.jumlah %></td>
              <td><%= barang.total_harga %></td>
              <!-- btn -->
    
              <td>
                <button onclick="bayar('<%- barang.total_harga %>')" class="btn btn-success btn-sm">bayar</button>
              </td>
    
              <td>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" onclick="cancel('<%= barang.new_stock %>', '<%= barang.jumlah %>', '<%= barang.id_barang %>', '<%= barang.id_transaksi %>',)" data-bs-target="#modalCancel">cancel</button>
              </td>
            </tr>
    
            <% } %> <% for(let a of total) { %>
            <div style="display: flex; margin-bottom: 1rem">
              <h3 style="margin-right: 10px">total :</h3>
              <h3><%= uang(a.total) %></h3>
            </div>
            <% } %>
          </table>
    </div>
</body>
</html>